@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;700&display=swap');
body{
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    background: #D2D2D2;
}

.wrapper{
    max-width: 1170px;
    margin: 0 auto;
}

.welcome, .about, .education, .director{
    height: 100vh;
}

.img{
    width: 60vh;
}

.about-cnt, .education-cnt, .director-cnt{
    display: flex;
    padding: 100px 10px;
}

.about_info, .education_info{
    margin-right: 40px;
}

.title{
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.info{
    font-size: 24px;
}



/* NAVBAR */
.navbar{
    font-weight: bold;
    font-size: 22px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
}

.navbar a{
    float: left;
    display: block;
    color: rgb(88, 88, 88);
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.link{
    position: relative;
}

.link::before{
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000;
    transition: 0.2s;
}

.link:hover:before{
    width: 100%;
}

.link:hover{
    font-size: 24px;
    color: black;
}

.fullpage{
    margin-top: 56px;
}
/* NAVBAR end */




/* Welocme */
.welcome{
    background-color:chartreuse;
}
/* Welcome end */




/* About */
.about{
    background-color: white;
}
/* About end */




/* Education */
.education{
    background-color: #FFFAF0;
}

.sub-title{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 24px;
}

.edu_info{
    font-weight: normal;
    font-size: 18px;
}
/* Education end*/



/* Director */
.director_img{
    margin-right: 100px;
}
.director{
    background-image: url("../img/directori-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.main_title{
    padding-top: 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 14px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    text-align: center;
}

.dir_title{
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.dir_sub-title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
}

.director_info>.info{
    display: grid;
    text-align: start;
}
/* Director end*/



/* Footer */
.footer{
    height: auto;
    margin: 0 auto;
    text-align: center;
    background: black;
}

/* Footer end*/