@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;700&display=swap');
body{
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    background: #D2D2D2;
}

.wrapper{
    max-width: 1170px;
    margin: 0 auto;
}

.welcome, .about, .education, .director{
    height: 100vh;
}

.img{
    width: 60vh;
}

.about-cnt, .education-cnt, .director-cnt{
    display: flex;
    padding: 100px 10px;
}

.about_info, .education_info{
    margin-right: 40px;
}

.title{
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.info{
    font-size: 24px;
}



/* NAVBAR */
.navbar{
    font-weight: bold;
    font-size: 22px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
}

.navbar a{
    float: left;
    display: block;
    color: rgb(88, 88, 88);
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.link{
    position: relative;
}

.link::before{
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000;
    transition: 0.2s;
}

.link:hover:before{
    width: 100%;
}

.link:hover{
    font-size: 24px;
    color: black;
}

.fullpage{
    margin-top: 56px;
}
/* NAVBAR end */




/* Welocme */
.welcome{
    color: white;
    text-align: center;
}

.welcome-cnt>.title{
    padding-top: 100px;
    text-align: center;
    font-size: 96px;
}

.sdd{
    padding-bottom: 50px;
    font-size: 44px;
}
a.knopka {
    font-size: 24px;
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #E8C300; /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
} 
a.knopka:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
a.knopka:active { background: rgb(152,15,0); } /* при нажатии */
/* Welcome end */





/* About */
.about{
    background-color: white;
}
/* About end */




/* Education */
.education{
    background-color: #FFFAF0;
}

.sub-title{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 24px;
}

.edu_info{
    font-weight: normal;
    font-size: 18px;
}
/* Education end*/



/* Director */
.director_img{
    margin-right: 100px;
}
.director{
    background-image: url("../img/directori-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.main_title{
    padding-top: 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 14px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    text-align: center;
}

.dir_title{
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.dir_sub-title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
}

.director_info>.info{
    display: grid;
    text-align: start;
}
/* Director end*/



/* Footer */
footer{background:#292929;} /*фон подвала */
footer{
    height: 100px;
}
.text-center{
    text-align: center;
}
.social-icons ul{
list-style: none;
display: flex;
justify-content: center;
}
.social-icons ul li a span {
color: #000;
width: 34px;
background: #fff;
height: 34px;
text-align: center;
line-height: 34px;
border-radius: 20px;
font-size: 13px;
margin: 0px 2px;
border-radius: 20px;
font-size: 14px;
margin: 0px 2px;
transition: 0.5s all;
-webkit-transition: 0.5s all;
transition: 0.5s all;
-moz-transition: 0.5s all;
}
.social-icons ul li a span:hover{color:#E8C300;}
.copy-bottom-txt p{font-size:18px;
color:#fff;
}
.social-icons ul li:nth-child(2){
margin: 0 10px;
}
.copy-bottom-txt p a {
font-size: 18px;
color:white;
letter-spacing: 1px;
transition: .4s;
}
.copy-bottom-txt p a:hover {
color: #E8C300;
text-decoration: underline;
padding-top: 4px;
font-weight: 700;
}

.welcome{
    background: url("../img/directori-bg.jpg") no-repeat;
    background-size: auto 100vh;
}